<div class="text-center bg-gray-200 rounded-lg mx-auto">
  <h4 class="mt-0 text-info">{{topic_title}}</h4>
  <h5 class="mt-0 text-white">Created by: {{topic_owner}}</h5>>
  <p class="mt-0 text-white">{{post_text}}</p>
</div>