<div class="container px-4 mb-2 my-auto">
  <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
    <h2 class="text-info p-3 md:text-4xl mb-2">
      <b>Discussion Board</b>
    </h2>
    <div class="text-center bg-gray-200 rounded-lg mx-auto">
      <h4 class="mt-0 text-info">{{topic_title}}</h4>
      <h5 class="mt-0 text-white">Created by: {{topic_owner}}</h5>>
      <p class="mt-0 text-white">{{post_text}}</p>
    </div>
  </div>
</div>