<div class="list-unstyled">
  <div class="media">
    <img
      class="mr-3"
      src="{{book_image}}"
      alt="book image"
      width="64px"
      height="64px"
    />
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{rank}}. {{title}} by {{author}}</h5>
    </div>
  </div>
</div>