<div class="container w-3/4 px-4 mx-auto mb-2">
  <div class="mt-7 text-center bg-dark max-w-4xl mx-auto mb-2">
    <h2 class="text-info p-3 md:text-4xl mb-2">
      <b>New York Times Best Selling Books</b>
    </h2>
    <div class="select is-info mt-2 mb-2">
          <select class="mb-3 w-3/6" id="nytList">
            <option>Select a list</option>
          </select>
        </div>
  </div>
  <div class="w-2/4 justify-center" id="list-content"">
      {{#each results as |result|}}
      {{> list-details}}
      {{/each}}
  </div>
</div>

<script type="module" src="./js/nytOneList.mjs"></script>
<script type="module" src="./js/nytList.mjs"></script>