<div class="container w-3/4 px-4 mx-autp">
  <div class="mt-7 text-center bg-dark max-w-4xl mx-auto">
    <h2 class="text-info p-3 md:text-4xl mb-2">
      <b>New York Times Best Selling Books</b>
    </h2>
    <div class="select is-info mt-2 mb-2">
      <select id="nytList">
        <option>Select a list</option>
      </select>
      <h2>Showing NYTimes Best Sellers for <span id="list-text"></span></h2>
      <div id="list-content"></div>
    </div>
    <!-- PUT SEARCH BAR CODE HERE 
    <form class="search mb-6 pb-3">
      <div class="form-group my-2">
        <label for="searchbar" class="text-white">Search:</label>
        <input
          type="text"
          class="form-control w-9/12 mx-auto mb-6"
          id="search-input"
          placeholder="Title or Author Name..."
        />
      </div>
    </form>
    -->
  </div>
</div>