<!-- container for how to use app -->
<div class="container w-3/4 px-4 mx-auto">
  <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
    <h1 class="text-info p-3 md:text-4xl mb-2"><b>Welcome to Bookstack</b></h1>
    <p class="card-text text-white text-lg p-3">If you are having trouble
      trying to find the next book to read, Bookstack is the app for you.</p>
    <p class="card-text text-white text-lg p-3">Whether you our looking to
      browse our entire database of books, or if you have a Title or Author
      in mind, Bookstack will allow you to search easily so that you can
      find the book you are looking for.
    </p>
  </div>
  <h2 class="text-xl font-bold text-info bg-dark mt-3 p-2 md:text-4xl">NYT Hardcover Fiction Top 10</h2>
  <div class="row row-cols-1 row-cols-md-5">
  <div class="card bg-dark">
    <a href="https://www.amazon.com/The-Judges-List-A-Novel/dp/B093N8JP2B" target="_blank">
        <img src="https://storage.googleapis.com/du-prd/books/images/9780062888341.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">1. THE STRANGER IN THE LIFEBOAT by Mitch Albom</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/Better-Off-Dead-Reacher-Novel/dp/B08SHRRPK2" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9780385546027.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">2. THE JUDGE'S LIST by John Grisham</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/198215487X?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781982154875.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">3. GAME ON by Janet Evanovich</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/1984818503?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781984818508.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">4.BETTER OFF DEAD by Lee Child and Andrew Child</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/1538728621?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781538728628.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">5. THE WISH by Nicholas Sparks</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/0735222355?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9780735222359.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">6. THE LINCOLN HIGHWAY by Amor Towles</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/1982168439?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781982168438.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">7. CLOUD CUCKOO LAND by Anthony Doerr</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/198217367X?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781982173678.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">8. STATE OF TERROR by Hillary Rodham Clinton and Louise Penny</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/1250220254?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781250220257.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">9. APPLES NEVER FALL by Liane Moriarty</h5>
    </div>
  </div>
  <div class="card bg-dark">
    <a href="https://www.amazon.com/dp/1984855123?tag=NYTBSREV-20" target="_blank">
      <img src="https://storage.googleapis.com/du-prd/books/images/9781984855121.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title text-light">10. OUR COUNTRY FRIENDS by Gary Shteyngart</h5>
    </div>
  </div>
</div>
  <div class="container px-4 mb-2 my-auto">
    <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
      <h2 class="text-info p-3 md:text-4xl mb-2">
        <b>Start A Book Discussion</b>
      </h2>
      <p class="card-text text-white text-lg p-3 mb-2">
        Tell us and others what you're thinking about a certain book topic. Maybe it's a recommendation, or maybe it's a portion of the book that you want to talk about. Give us your 
        thoughts and start a discussion!
      </p>
      <form method="post" action="do_addtopic.php">
        <div class="form-group row m-2">
          <label for="email" class="text-info col-sm-2 col-form-label">Email address:</label>
          <div class="col-sm-10">
           <input type="email" class="form-control" id="email"> 
          </div>
        </div>
        <div class="form-group row m-2">
          <label for="topic_title" class="text-info col-sm-2 col-form-label">Topic Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="topic_title">
          </div>
        </div>
        <div class="form-group row m-2">
          <label for="post_text" class="text-info col-sm-2 col-form-label" >Post Text:</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="post_test" rows="3"></textarea>
          </div>
        </div>
        <P ><input class="text-white bg-info text-lg font-bold rounded-lg py-1 px-1 my-2 mb-5" type="submit" name="submit" value="Post"></p>
        </form>
    </div>
  </div>
  <div class="container px-4 mb-2 my-auto">
  <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
    <h2 class="text-info p-3 md:text-4xl mb-2">
      <b>Discussion Board</b>
    </h2>
    {{#each posts as |post|}}
      {{> discussion-board}}
    {{/each}}
    </div>
  </div>
</div>

