<!-- container for how to use app -->
<aside class="text-center bg-dark rounded-lg max-w-4xl mx-auto mb-2">
    <section class="NYT-popular-books">
      <h2 class="text-xl font-bold text-info">NYT Hardcover Fiction Top 10</h2>
      <a href="https://www.amazon.com/The-Judges-List-A-Novel/dp/B093N8JP2B" target="_blank">The Judges List</a>
      <p>by John Grisham</p>
      <br>
      <a href="https://www.amazon.com/Better-Off-Dead-Reacher-Novel/dp/B08SHRRPK2" target="_blank">Better Off Dead</a>
      <p>by Lee Child</p>
      <br>
      <a href="https://www.amazon.com/The-Wish/dp/B0944BZ5XX" target="_blank">The Wish</a>
      <p>by Nicholas Sparks</p>
      <br>
      <a href="https://www.amazon.com/The-Lincoln-Highway-A-Novel/dp/B08WVLSDDR" target="_blank">The Lincoln Highway</a>
      <p>by Amor Towles</p>
      <br>
      <a href="https://www.amazon.com/State-of-Terror-A-Novel/dp/B08WHQTQBT" target="_blank">State of Terror</a>
      <p>by Hillary Rodham Clinton</p>
      <br>
      <a href="https://www.amazon.com/Cloud-Cuckoo-Land-A-Novel/dp/B08TX66JJ7" target="_blank">Cloud Cuckoo Land</a>
      <p>by Anthony Doerr</p>
      <br>
      <a href="https://www.amazon.com/Apples-Never-Fall/dp/B08V8939WY" target="_blank">Apples Never Fall</a>
      <p>by Liane Moriarty</p>
      <br>
      <a href="https://www.amazon.com/Last-Thing-He-Told-Me/dp/B08N393GT5" target="_blank">The Last Thing He Told Me</a>
      <p>by Laura Dave</p>
      <br>
      <a href="https://www.amazon.com/Billy-Summers/dp/B08V9HZGJP" target="_blank">Billy Summers</a>
      <p>by Stephen King</p>
      <br>
      <a href="https://www.amazon.com/The-Midnight-Library-A-Novel/dp/B085S8BSYS" target="_blank">The Midnight Library</a>
      <p>by Matt Haig</p>
    </section>
  </aside>

<div class="container w-3/4 px-4 mx-auto">
  <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
    <h1 class="text-info p-3 md:text-4xl mb-2"><b>Welcome to Bookstack</b></h1>
    <p class="card-text text-white text-lg p-3">If you are having trouble
      trying to find the next book to read, Bookstack is the app for you.</p>
    <p class="card-text text-white text-lg p-3">Whether you our looking to
      browse our entire database of books, or if you have a Title or Author
      in mind, Bookstack will allow you to search easily so that you can
      find the book you are looking for.
    </p>
  </div>
  <div class="container px-4 mb-2 my-auto">
    <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
      <h2 class="text-info p-3 md:text-4xl mb-2">
        <b>Start A Book Discussion</b>
      </h2>
      <p class="card-text text-white text-lg p-3 mb-2">
        Tell us and others what you're thinking about a certain book topic. Maybe it's a recommendation, or maybe it's a portion of the book that you want to talk about. Give us your 
        thoughts and start a discussion!
      </p>
      <div class="">
      <form method=post action="do_addtopic.php">
        <p class="text-info my-1"><strong>Your E-Mail Address:</strong><br>
        <input type="text" name="topic_owner" size=40 maxlength=150>
        <p class="text-info my-1"><strong>Topic Title:</strong><br>
        <input type="text" name="topic_title" size=40 maxlength=150>
        <P class="text-info my-1"><strong>Post Text:</strong><br>
        <textarea name="post_text" rows=8 cols=40 wrap=virtual></textarea>
        <P ><input class="text-white bg-info text-lg font-bold rounded-lg py-1 px-1 my-2 mb-5" type="submit" name="submit" value="Post"></p>
        </form>
      </div>
    </div>
  </div>
  <div class="container px-4 mb-2 my-auto">
  <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
    <h2 class="text-info p-3 md:text-4xl mb-2">
      <b>Discussion Board</b>
    </h2>
    {{#each posts as |post|}}
      {{> discussion-board}}
    {{/each}}
    </div>
  </div>
</div>

