<!-- container for how to use app -->
<div class="container w-3/4 px-4 mx-auto">
  <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
    <h1 class="text-info p-3 md:text-4xl mb-2"><b>Welcome to Bookstack</b></h1>
    <p class="card-text text-info text-lg p-3">If you are having trouble
      trying to find the next book to read, Bookstack is the app for you.</p>
    <p class="card-text text-info text-lg p-3">Whether you our looking to
      browse our entire database of books, or if you have a Title or Author
      in mind, Bookstack will allow you to search easily so that you can
      find the book you are looking for.
    </p>
  </div>
  <div class="container px-4 mb-2 my-auto">
    <div class="mt-7 text-center bg-dark rounded-lg max-w-4xl mx-auto">
      <h2 class="text-info p-3 md:text-4xl mb-2">
        <b>Start A Book Discussion</b>
      </h2>
      <p class="card-text text-info text-lg p-3 mb-2">
        Tell us and others what you're thinking about a certain book topic. Maybe it's a recommendation, or maybe it's a portion of the book that you want to talk about. Give us your 
        thoughts and start a discussion!
      </p>
      <div class="">
      <form method=post action="do_addtopic.php">
        <p class="text-info my-1"><strong>Your E-Mail Address:</strong><br>
        <input type="text" name="topic_owner" size=40 maxlength=150>
        <p class="text-info my-1"><strong>Topic Title:</strong><br>
        <input type="text" name="topic_title" size=40 maxlength=150>
        <P class="text-info my-1"><strong>Post Text:</strong><br>
        <textarea name="post_text" rows=8 cols=40 wrap=virtual></textarea>
        <P ><input class="text-white bg-info text-lg font-bold rounded-lg py-1 px-1 my-2 mb-5" type="submit" name="submit" value="Post"></p>
        </form>
      </div>
    </div>
  </div>
</div>