<div
  class="card-title"
  id="title"
  style="text-align:center; justify-content:center; width:100%;"
>
  <h2
    class="card-title navbar-brand fs-1 fw-bolder text-info"
    id="title"
  >Welcome To Bookstack</h2>

</div>