<h1 class="d-inline text-info fs-1 fw-bolder bg-dark">Your Book Collection</h1>
<div class="new-book">
  <button type="submit" class="btn text-info bg-dark float-bottom"><a
      class="link"
      href="/myStacks/newbook"
    >+ New Book</a></button>
</div>

<script src="./js/newBooks.js"></script>