  <div class="container w-3/4 px-4 mx-auto my-auto p-2">
    <div class="text-center bg-dark max-w-4xl mx-auto pb-2">
      <h2 class="text-info p-3 md:text-4xl"><b>Add A Book To Your Collection</b></h2>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputTitle" class="text-white">Title of Book:</label>
          <input
            type="text"
            class="form-control w-9/12 mx-auto mb-3"
            id="book-title"
            placeholder="Title..."
          />
        </div>

        <div class="form-group">
          <label for="exampleInputAuthor" class="text-white">Author</label>
          <input
            type="text"
            class="form-control w-9/12 mx-auto mb-3"
            id="book-author"
            placeholder="Author Name..."
          />
        </div>

        <div class="form-group">
            <label for="exampleInputRecommendation" class="text-white"></p>
            Recommendation
            </label>>
            <textarea
            class="form-control w-9/12 mx-auto mb-4"
            name="post_text"
            rows="8"
            cols="40"
            wrap="virtual"
            placeholder="Type Your Recommendation Here..."
            ></textarea>
        </div>

        <div class="m-1">
          <button
            class="text-white bg-info text-lg font-bold rounded-lg py-1 px-1"
            id="post"
          >
            Add To Bookstack
          </button>
        </div>
      </form>
    </div>
  </div>
</div>