#title {
  font-family: cursive;
}

body {
  background: url("/assets/images/pexels-skitterphoto-442420.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-bottom: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.imgResult {
  width: fit-content;
  height: fit-content;
}

.new-Book {
  position: absolute;
  bottom: 50px;
  right: 47%;
}
